* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
}

                /*Left-Container*/

.left-container {
    display: none;
}

                    /*Right container*/
.right-container {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 234, 255);
}

/* .right-container ul {
    font-size: 12px;
} */

                    /*Upper Left Corner*/

.right-container .panel {
    width: 100%;
    height: 15%;
    /* display: flex; */
    font-size: smaller;
    color: #58524e;
    /* background-color: rgb(255, 255, 255); */
}

.panel input {
    height: 50%;
    width: 100%;
    font-size: 12px;
    padding-left: 1%;
    border: none;
    outline: none;
    /* background-color: #58524e; */
    box-shadow: 0px 0px 10px grey;
}

.panel input::placeholder {
    color: rgb(157, 157, 157);
}

.tag-folder {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    background-color: white;
}

.tf-1 {
    /* display: flex; */
    /* padding-left: 5%; */
}

.tf-2 {
    /* display: flex; */
    /* padding-left: 15%; */
}

.tf-3 {
    /* display: flex; */
    /* padding-left: 17%; */
    /* color: #dedede; */
}

.panel-timer {
    width: auto;
    font-size: 10px;
    /* margin-left: 13%; */
}

.pink-play-btn {
    font-size: 15px;
    margin-left: 1%;
    color: rgb(216, 87, 216);
    /* background-color: white; */
}


.play-plus {
    /* display: flex; */
    flex-direction: column;
    gap: 10px;
}

                /*Right Week Container Text*/
#week-container {
    height: auto;
    width: 100%;
    /* display: flex; */
}

.week-left {
    height: 2%;
    width: 100%;
    /* display: flex; */
    /* text-align: center; */
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    /* background-color: rgb(202, 133, 43); */
    justify-content: center;
}

.week-right {
    width: 100%;
    /* padding: 15px 0px 0px 0px; */
    /* display: flex; */
    /* text-align: center; */
    /* text-align: -webkit-center; */
    /* justify-content: center; */
    font-weight: lighter;
}

.week-right h4 {
    /* justify-content: center; */
    /* padding: 15px 0px 0px 0px; */
}

.wr-1 {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ffeeff;
    gap: 10%;
}

.wr-1 h4 {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.wr-2 {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ffeeff;
    gap: 20%;
}

.wr-2 h4 {
    font-size: 18px;
}

.wr-3 {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ffeeff;
    gap: 1%;
}

.wr-3 h4 {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.wr-3 select {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 5px 0px 0px 0px;
}

            /*gray color bars*/
.color-line1 {
    /* height: 4px;
    width: 100%;
    display: flex;
    margin-top: 2%; */
    display: none;
}

/* .color-line-aa {
    height: 3px;
    width: 5%;
    display: flex;
    margin-left: 15px;
    border-radius: 3px;
    background-color: darkgray;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.color-line-bb {
    height: 3px;
    width: 5%;
    display: flex;
    margin-left: 36%;
    border-radius: 3px;
    background-color: darkgray;
}

.color-line-cc {
    height: 3px;
    width: 5%;
    display: flex;
    margin-left: 31%;
    border-radius: 3px;
    background-color: darkgray;
} */
            /*3 color bars*/
.color-line2 {
    /* height: 4px;
    width: 100%;
    display: flex;
    margin-top: 4px; */
    display: none;
}

/* .color-line-a {
    height: 3px;
    width: 40%;
    display: flex;
    margin-left: 15px;
    border-radius: 3px;
    background-color: rgb(158, 156, 5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.color-line-b {
    height: 3px;
    width: 35%;
    display: flex;
    margin-left: 12px;
    border-radius: 3px;
    background-color: rgb(76, 26, 255);
}

.color-line-c {
    height: 3px;
    width: 20%;
    display: flex;
    margin-left: 11px;
    border-radius: 3px;
    background-color: rgb(9, 179, 31);
} */

            /*1st 3 Descriptions*/
.desp-1 {
    height: 6%;
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    margin-top: 3%;
}

.desp-1-time1 {
    width: 45%;
}

.desp-1 p {
    font-size: 16px;
    margin-left: 10px;
}

.desp-1a {
    display: flex;
    width: 45%;
}

.desp-1a span {
    align-items: flex-end;
    font-size: 15px;
}

.desp-1b {
    display: flex;
    width: 10%;
}


.desp-2 {
    height: 12%;
    width: 100%;
    padding-top: 1%;
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: #ffeeff;
    align-items: center;
}

.desp-2-a {
    display: flex;
    width: 95%;
}

.desp-2-a p {
    width: 100%;
    font-size: 15px;
    padding-left: 10px;
}

.desp-2-a ul li {
    margin-left: 30px;
}


.desp-2-b {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* display: flex; */
    /* background-color: rgb(126, 150, 150); */
    font-size: 15px;
    font-weight: bold;
}

.desp-2-c {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* display: flex; */
    font-size: 15px;
    font-weight: bold;
    color: #660066;
    /* background-color: rgb(182, 248, 248); */
}


.desp-3 {
    height: 10%;
    width: 100%;
    padding-top: 1%;
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: white;
    align-items: center;
}

.desp-3-a {
    display: flex;
    width: 95%;
}

.desp-3-a input {
    width: 100%;
    font-size: 15px;
    padding-left: 10px;
    border-style: none;
    background-color: transparent;
}

.desp-3-a ul li {
    margin-left: 30px;
}

.desp-3-b {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* display: flex; */
    /* background-color: rgb(126, 150, 150); */
    font-size: 15px;
    font-weight: bold;
}

.desp-3-c {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* display: flex; */
    font-size: 15px;
    font-weight: bold;
    color: #660066;
    /* background-color: rgb(182, 248, 248); */
}

            /*2nd 3 Descriptions*/
.desp-11 {
    height: 6%;
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    margin-top: 3%;
}

.desp-11-time2 {
    width: 45%;
}

.desp-11 p {
    font-size: 16px;
    margin-left: 10px;
}

.desp-11a {
    display: flex;
    width: 45%;
}

.desp-11a span {
    align-items: flex-end;
    font-size: 15px;
}

.desp-11b {
    display: flex;
    width: 10%;
}

.desp-22 {
    height: 12%;
    width: 100%;
    padding-top: 1%;
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: #ffeeff;
    align-items: center;
}

.desp-22-a {
    display: flex;
    width: 95%;
}

.desp-22-a p {
    width: 100%;
    font-size: 15px;
    padding-left: 10px;
}

.desp-22-a ul li {
    margin-left: 30px;
}


.desp-22-b {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* display: flex; */
    /* background-color: rgb(126, 150, 150); */
    font-size: 15px;
    font-weight: bold;
}

.desp-22-c {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* display: flex; */
    font-size: 15px;
    font-weight: bold;
    color: #660066;
    /* background-color: rgb(182, 248, 248); */
}


.desp-33 {
    height: 12%;
    width: 100%;
    padding-top: 1%;
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: white;
    align-items: center;
}

.desp-33-a {
    display: flex;
    width: 95%;
}

.desp-33-a input {
    width: 100%;
    font-size: 15px;
    padding-left: 10px;
    border-style: none;
    background-color: transparent;
}

.desp-33-a ul li {
    margin-left: 30px;
}

.desp-33-b {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* display: flex; */
    /* background-color: rgb(126, 150, 150); */
    font-size: 15px;
    font-weight: bold;
}

.desp-33-c {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* display: flex; */
    font-size: 15px;
    font-weight: bold;
    color: #660066;
    /* background-color: rgb(182, 248, 248); */
}


.desp-44 {
    height: 12%;
    width: 100%;
    padding-top: 1%;
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: white;
    align-items: center;
}

.desp-44-a {
    display: flex;
    width: 95%;
}

.desp-44-a input {
    width: 100%;
    font-size: 15px;
    padding-left: 10px;
    border-style: none;
    background-color: transparent;
}

.desp-44-a ul li {
    margin-left: 30px;
}

.desp-44-b {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* display: flex; */
    /* background-color: rgb(126, 150, 150); */
    font-size: 15px;
    font-weight: bold;
}

.desp-44-c {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* display: flex; */
    font-size: 15px;
    font-weight: bold;
    color: #660066;
    /* background-color: rgb(182, 248, 248); */
}

            /* pipe1 & clark1 IDs */

#pipe1 {
    color: rgb(0, 166, 255);
}

#clark1 {
    color: rgb(106, 106, 106);
}

                /*Load More Button*/

.load-more {
    width: 100%;
    height: 5%;
    padding-top: 2%;
    /* background-color: bisque; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.load-more button {
    width: 20%;
    height: auto;
    font-size: small;
    display: inline-block;
    position: relative;
    left: 15%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20%;
    transform: translateX(-50%);
    transition-duration: 0.3s;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    box-shadow: 3px 3px 3px lightgray;
}

.load-more button:hover {
    background-color: #670909;
    color: white;
}